body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc .fc-timegrid-slot {
  height: 80px;
}

.fc .fc-non-business {
  background-color: #f4f4f4;
  cursor: not-allowed;
}

.fc-toolbar .fc-timeGridWeek-button {
  margin-left: 50px !important;
}

.fc-toolbar .fc-addEmergencyButton-button {
  background-color: #ff4d4f;
  color: #ffffff;
  border: none;
}

.fc-toolbar .fc-addEmergencyButton-button:hover {
  background-color: #ff7070;
}

.fc-toolbar .fc-viewWaitingRoomButton-button {
  background-color: #1b1bff;
  color: #ffffff;
  border: none;
}
.fc-toolbar .fc-viewWaitingRoomButton-button:hover {
  background-color: #3b3bff;
}
